/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONT */

body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    margin: 0 10%;
}
.between {
    justify-content: space-between; 
}
.center {
    justify-content: center;
}
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fw-500 {
    font-weight: 500;
    font-style:bold;
}

.fs-1 {
    font-size: 1.5em;
}
.fs-2 {
    font-size: 2em;
}
.montserrat {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.upper {
    text-transform: uppercase;
}
/* HEADER */
header {
    border-bottom: 10px solid black;
}
/* NAVIGASI */
nav {
    position: fixed;
    padding: 10px;
    width: 100vw;
    z-index:100;
    transition: 0.5s ease-in-out;
    /* background-color: #111111; */
    
}

.logo>img {
    width: 50px;
    height: 50px;
}
.link>a {
    padding: 0 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.link>a:hover {
    color: #d4cdc2;
}
/* AKHIR NAVIGASI */
/* HERO */
#hero {
    background-image: url('/assets/img/hero.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

#hero>.text {
    font-size: 2em;
    color: white;
    width: 50%;
}

.second-text {
    font-size: 0.5em;
}
    
#hero>.img-profil {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
}
#hero>.img-profil>img {
    transition: 0.8s ease-in-out;
}
#hero>.img-profil>img:hover {
    scale: 1.2;
    rotate: -10deg;
}

#hero>.img-profil>img {
    width: 80%;
    position: relative;
    filter: brightness(96%)
}

#hero .circle {
    top: -60px;
    position: absolute;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(4,97,150, 0.5);
    filter: blur(30px);
    border-radius: 50%;
}
/* AKHIRHERO */
/* AKHIR HEADER */

/* SECTION BANNER */
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    position: relative;
}

#banner>div {
    /* display: flex;
    justify-content: center;
    width: 100vw; */
    position: relative;
}

#banner>.slides {
    display: flex;
    width: 100vw;
    width: 1336px;
    overflow:hidden;
}

/* #banner>.img-banner {
    display:none;
} */

#banner>.active {
    display: block;
    transition: 1s ease-in-out;
}

#banner>button {
    height: 30px;
    width: 50px;
    margin: 0 20px;
    border: none;
    color:white;
    background-color: rgb(18,21,30);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#banner>button:hover {
    scale: 1.2;
}


/* SECTION PROFILE */
#profile {
    height: 650px;
    margin-top:100px;
    flex-direction: column;
    background-color: rgb(23,25,38);

}  
#profile>h1 {
    text-align: center;
    padding-top: 30px;
    color: white;
}

#photo-hq {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}  
#photo-hq img {
    width: 300px;
    display: flex;
}

#photo-hq .glow {
margin: 0 50px;
transition: 0.5s ease-in-out;
}
#photo-hq .glow:hover {
    scale: 1.1;
}

#photo-hq .glow img {
border-radius:10px;
}

#message {
    height: 650px;
    padding-top: 100px;
}

#message h3 {
    text-align: center;
}

#message .content {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
    padding: 60px 60px;
}

.grup-form {
    display: flex;
    flex-direction: column;
}
.grup-form input {
    width: 85%;
}
.ma {
    margin-top: 20px;
}
#message {
    height: 85vh;
    margin-bottom: 100px;
    position: relative;
}
#message button {
    width: 85%;
    border: none;
    padding: 10px;
    background-color: green;
    color:white;
    border-radius: 7px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
#message button:hover {
    scale: 1.01;
}
/* #photo-hq .glow {
    position: relative;
} */
/* #photo-hq .glow:nth-child(1) {
    background-color: rgb(0,144,237);
    border-radius: 50%;
}
#photo-hq .glow:nth-child(2) {
    background-color: rgb(207,0,33);
    border-radius: 50%;
}
#photo-hq .glow:nth-child(3) {
    background-color: rgb(63,118,7);
    border-radius: 50%;
} */
/* AKHIR SECTION PROFILE */

footer {
    display: flex;
    padding: 0 10%;
    justify-content: end;
    background-color: #111111;
    color: white;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
}

/* RESPONSIVE */

@media screen and (min-width: 720px) {
    .container {
        display: flex;
        align-items: center;
        margin: 0 10%;
    }
}
@media screen and (max-width: 720px) {
    #hero {
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    #hero .text {
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    #hero .img-profil {
        margin-top: 100px;
    }
    #hero .img-profil img {
        width: 120%;
    }

    .img-banner img {
        height: 150px;
    }

    #banner>.slides {
        display: flex;
        width: 100vw;
        height: 150px;
        overflow:hidden;
    }

    #photo-hq {
        width: 100vw;
        justify-content: start;
        overflow-x: scroll;
    }

    #message .content {
        grid-template-columns: 1fr;
        gap:10px
    }
}

/* ANIMATION */
/* @keyframes muncul {
    0% {
        display: none;
    }
    100% {
        display: block;
    }
}
@keyframes hilang {
    0% {
        display: block;
    }
    100% {
        display: none;
    }
} */